asm org 0x1000
jmp start


func start:
    *test 'Bob'
    *main
    asm hlt

func main:
    
    ;*newcmd 
    jmp main   
end

func newline:
    asm mov bx, 0x0007  
    asm mov ax, 0x0E0D  
    asm int 0x10
    asm mov al, 0x0A    
    asm int 0x10
    end
end

func scan:
    asm mov ah, 0
    asm int 0x16
    end
end

func scanf:
    *scan
    cmp al, 0x0D     
    je newcmd 
    asm mov cl, al
    asm mov ah, 0x0E  
    asm int 0x10      
    jmp scanf        
end

func newcmd:
    *newline
    asm mov ah, 0x0E  
    asm mov al, '>'  
    asm int 0x10
    *scanf       
end

func test > char arg:
    asm mov ah, 0x0e
    asm mov al, arg 
    asm int 0x10
end

asm times 512 - ($ - $$) db 0 
dw 0xAA55           
